{% load i18n wagtailadmin_tags modeladmin_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/ads.css" %}"/>
    <script src="{% static "js/ads.js" %}"></script>
    <script src="{% static "js/graficas/graficas.js" %}"></script>
</head>
<body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div class="container">
        <button>Cambiar propiedades del edificio</button>
        <button onclick="gobierno()">Generar reporte del Edificio de gobierno</button>
        <button>Generar reporte del Edificio de I.A.</button>
        <button>Generar reporte del Edificio de Norte</button>
        <button>Generar reporte del Edificio de Sur</button>
        <div id="chart_avance"></div>
        <div id="chart_presupuesto"></div>
        <div id="chart_materiales"></div>
        <div id="chart_jerarquia_gobierno"></div>
    </div>
</body>
</html>
